<h3>Add a city you've visited</h3>

<form class="" action="/places_visited" method="post">
  <label for="new-city">Enter the city you wnet to</label>
  <input type="text" name="new-city">
  <button type="submit" name="button">Enter</button>
</form>
